/.env
/.env.*
!/.env.example
/docker/production/secrets/*.txt

/vendor/
/node_modules/
/.pnpm-store/

/public/build/
/public/fonts-manifest.dev.json
/public/hot
/tsconfig.tsbuildinfo
/storage/*.key
/storage/debugbar/
/storage/app/private/
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/storage/pail/
/bootstrap/cache/

/.phpunit.cache/
/.phpunit.result.cache
/.phpstan.cache/
/.eslintcache
/coverage/
/playwright-report/
/test-results/
/ms-playwright/

/.idea/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
!/.vscode/tailwind-v4.css-data.json

*.log
*.tmp
*.swp
*.swo
Thumbs.db
.DS_Store
