/.env
/.env.*
!/.env.example

/vendor/
/node_modules/
/.pnpm-store/

/public/build/
/public/hot
/storage/*.key
/storage/app/private/
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/

/.phpunit.cache/
/.phpunit.result.cache
/.pest.cache/
/.phpstan.cache/
/.eslintcache
/coverage/
/playwright-report/
/test-results/

/.idea/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

*.log
*.tmp
*.swp
*.swo
Thumbs.db
.DS_Store
